@tailwind base;
@tailwind components;
@tailwind utilities;

#dash-menu {
  background: #173245;
}

#mini-profile {
  padding: 20px;
}

#mini-avatar {
  width: 25%;
  float: left;
}

#mini-name {
  width: 73%;
  float: right;
}

#dashboard-menu ul li:hover {
  background: #ffffff;
  color: #173245;
}

.hero,
.bg-nav {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #62b4ff 0%, #0080f6 100%);
}
