@tailwind base;
@tailwind components;
@tailwind utilities;

#dashboard {
  /* display: flex; */
}

#dash-menu {
  background: #173245;
}

#mini-profile {
  padding: 20px;
}

#mini-avatar {
  width: 25%;
  float: left;
}

#mini-name {
  width: 73%;
  float: right;
}

#mini-name-name {
}

#dashboard-menu ul li:hover {
  background: #ffffff;
  color: #173245;
}
